<div class="flex h-screen bg-green-100">
	<div class="m-auto">
    <h1 class="text-6xl font-bold text-teal-700">Welcome to The CCB Tracker</h1>
    <h2 class="text-3xl font-semibold text-teal-500">A Ruby on Rails Credit Card Balance Tracking Application</h2> 
    <div class="flex justify-center">
      <button class="my-4 px-4 py-3 text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-teal-600 rounded-md cursor-pointer hover:bg-teal-800">Learn More</button>      
    </div>  
    <div class="flex justify-center">
      <h3 class="text-1xl font-semibold text-teal-900 m-auto">Shield With a Dollar Sign icon by <a target="_blank" href="https://icons8.com">Icons8</a></h3>
    </div>  
</div>