<div class="flex h-screen bg-green-100">
	<div class="m-auto">
    <h1 class="text-6xl font-bold text-teal-700">Welcome to The CCB Tracker</h1>
    <h2 class="text-3xl font-semibold text-teal-500">A Ruby on Rails Credit Card Balance Tracking Application</h2>
    <div class="flex justify-center space-x-1">
      <button class="cta-btn">
				<%= link_to "Add Balances", new_balance_path %>
			</button>
			<button class="cta-btn">
				<%= link_to "View Balances", balances_path %>
			</button>
    </div>
    <div class="flex justify-center">
      <h3 class="text-1xl font-semibold text-teal-900 m-auto">Shield With a Dollar Sign Icon by <a target="_blank" href="https://icons8.com/icon/M5tqnQQ8tgN3/shield-with-a-dollar-sign">Icons8</a></h3>
    </div>
</div>
